@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
  * {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

/* GENERAL CSS STYLES */
:root{
    --main-bg-color: #FFF8F3;
    --light-gray-color: #D9D9D9;
    --dark-gray-color: #758694;
    --pale-color: #F7E7DC;
    --blue-gray-color: #405D72;
    --white-color: #FFFCFA;
    --black-color: #161515;
    --font-family: "Inter", sans-serif;

}
body{
    background-color: var(--main-bg-color);
    font-family: var(--font-family);
    width: 100%;
}

/* HEADER STYLE */
header{
    display: flex;
    padding: 5rem 15% 3rem 15%;
    gap: 3rem;
    width: 100%;
    align-items: center;
}
.header__title{
    color: var(--blue-gray-color);
    width: 30%;
}
.header__text{
    width: 70%;
    line-height: 1.5;
}

/* NAV STYLE */
.navBar{
    padding: 2rem 15% 2rem 15%;
}
.animalOptions{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--white-color);
    padding: 0.5rem;
    border: 2px solid var(--pale-color);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.animalOptions__Tag{
    color: var(--dark-gray-color);
    list-style: none;
    width: 12%;
    background-color: var(--light-gray-color);
    text-align: center;
    padding: 0.5rem;
    border-radius: 5px;
    transition: 1s ease;
}

.animalOptions__Tag a{
    text-decoration: none;
    color: var(--black-color);
}
.animalOptions__Tag:hover{
    background-color: var(--dark-gray-color);
    transform: scale(1.03);
    font-weight: 600;
    a{
        color: var(--main-bg-color);
    }
}
.animal-selected{
    font-weight: 600;
}

/* ANIMAL RESULTS STYLE */
main{
    padding: 1rem 10% 10rem 10%;
}
.artwork__Container{
    width: 100%;
    background-color: var(--white-color);
    border: 5px solid var(--dark-gray-color);
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

#animal__Results{
    background-color: var(--main-bg-color);
    border-right: 2px solid var(--dark-gray-color);
}
#results__List{
    width: 21rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-left: 0;
    box-sizing: border-box;

}
.result__List-Item{
    display: flex;
    flex-direction: row;
    background-color: var(--pale-color);
    color: var(--black-color);
    padding: 0.5rem;
    gap: 1rem;
    width: 20.5rem;
    height: 6rem;
    text-decoration: none;
    transition: 1s ease;
}
.result__List-Item img{
    width: 25%;
    object-fit: contain;
}
.result__List-Item:hover{
    cursor: pointer;
    transform: scale(1.03);
    width: 20rem;
    font-weight: 500;

}
.result__List-Text{
    width: 75%;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.result__List-Text p:first-child{
    font-weight: 450;
}
.result__List-Text p:last-child{
    font-size: 0.7rem;
}

/* ARTICLE STYLE START*/
#artwork{
    padding: 5%;
    width: calc(100% - 21rem) ;
}
#artwork_Title_Div{
    text-align: center;
    margin-bottom: 2rem;
}
#artwork_Title_Div h2{
    color: var(--blue-gray-color);
}
#artwork_Title_Div span{
    display: block;
}
#artwork_Img{
    max-height: 85vh;
    margin: 0 auto;
}
#artwork_Info{
    width: 100%;
}
table caption{
    font-weight: 700;
    text-align: left;
    margin: 2rem 0 1rem 0;
}

table tr th{
    width:10%;
    font-size: smaller;
    font-weight: 600;
    text-align: left;
    margin-right: 0.5rem;
}
th{
    border-bottom: 0.5px solid var(--dark-gray-color);
}

/* FOOTER STYLE */
footer{
    width: 100%;
    background-color: var(--white-color);
    border-top: 2px solid var(--dark-gray-color);
    padding: 1rem 10% 2rem 10%;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
}
footer a{
    color: var(--blue-gray-color);
    font-weight: 600;
}
.footer__apiInfo{
    width: 40%;
    color: var(--blue-gray-color);
}
.footer__contactInfo{
    width: 40%;
    text-align: right;
    color: var(--blue-gray-color);
}